{% extends 'base.html' %}

{% block content %}
    <div class="container-lg mt-3">
      <div class="row justify-content-lg-center py-5">
          <div class="col-lg-7">
              <h2 class="p-4">Plata a fost efectuata cu succes!</h2>
              <h6 class="p-4">Iti multumim pentru alegera facuta, {{ user_cli.username }}<br>
              Ai acces timp de un an la toate modulele aplicatiei pe care le regasesti in meniu<br>
              iti dorim spor la invatat!</h6>
          </div>
      </div>
    </div>

{% endblock %}