{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <div class="container-lg">

    <div class="row justify-content-md-center py-5 my-5 m-2">
        <div class="col-lg-4 py-5 text-center">
        <h2 style="line-height: 30px; font-family: Kanit, sans-serif">Dictionar de expresii</h2>
        <h2 class="py-4" style="line-height: 30px">...Ia cu tine<br>Engleza de vacanta...</h2>
        </div>

        <div class="col-lg-8">
            <h6 class="text-warning">A învăța o limbă străină poate fi amuzant, interesant, plăcut dacă știm cum.<br><br>
            E o chestie de
                perspectivă: trebuie să uităm de manuale și exerciții și să ne gândim la învățatul/aprofundatul
                unei limbi străine ca la un hobby, ca la ceva ce facem din plăcere<br><br>
            Există o mulțime de lucruri
                plăcute pe care le poți face pentru a-ți îmbunătăți nivelul de engleză, care nici măcar nu-ți consumă
                mult timp.<br><br>
            Nu trebuie să aloci foarte mult timp pentru lecții de engleză, trebuie doar să știi cum
                să-ți îmbini activitățile zilnice cu învățatul.<br><br>
            Când învățăm o nouă limbă, de obicei, ne concentrăm pe studierea elementelor de bază -
                    gramatica și vocabularul.<br><br>
                    Deși acest lucru este într-adevăr esențial – și sunt lucruri pe care
                le acoperim în cursurile noastre online de engleză – este, de asemenea, important să învățăm
                idiomuri, expresii și expresii comune atunci când învățăm limbi străine.<br><br>
                    Acestea vă vor ajuta să navigați dincolo de ceea ce este corect din punct de vedere gramatical, astfel încât
                veți suna mai mult ca un vorbitor nativ și veți obține o perspectivă asupra culturii oamenilor
                care vorbesc limba. Când învățați orice limbă nouă, expresiile și expresiile sunt foarte importante. </h6>
        </div>
    </div>
  </div>






{% endblock %}